@charset "utf-8";

// Common Variables
$base-font-family: 'Roboto', serif;
$base-header-family: 'Roboto Slab', serif;
$code-font-family: 'Roboto Mono', monospace;
$base-font-size: 16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.8 !default;
$base-line-height: 1.5 !default;

$spacing-unit: 20px !default;


@import
  "slate/layout",
  "slate/base"
;