<!DOCTYPE html>
	<html lang="en">
		<head>
			<title>{{ page.title }}</title>
			<!-- Styles -->
			<!--
			<link rel="stylesheet" type="text/css" href="/css/main.css">
-->

            <link rel="stylesheet" href="/assets/css/main.css">

            <!-- <link rel="stylesheet" type="text/css" href="/css/style.css"> -->

			<!-- SEO Stuffs -->
            <meta name="viewport" content="width=device-width, initial-scale=1">
            {% seo %}
        </head>
		<body>
			{% include header.html %}
			<!-- /.container -->
			<div class="container">
			
			{{ content }}
			
			</div>
			
			{% include footer.html %}

            {% include analytics.html %}
		</body>
	</html>
